:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-color: #ffae00;
    --secondary-color: #000000ad;
    --text-color: #ebebeb;
    --secondary-text-color: #b9b9b9;
    --accent-color: #181105ad;
    --brand-color-transparent: #ffae005b;
  }
}

html,
body {
  max-width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 10000;

  &:before {
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 10000;
    background: url("../public/background.webp") repeat center center;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button,
input {
  font-family: var(--font-geist-sans);
}
