.share-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &_action {
    color: var(--brand-color);
    background: transparent;
    border: none;
    transition: all 150ms ease-in-out;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    padding: 0.5rem;
    cursor: pointer;
    position: relative;

    &:hover {
      text-shadow: 0 0 10px var(--brand-color);
    }
  }
}
