.actor {
  border: 1px solid var(--brand-color-transparent);
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 450px;
  height: 150px;
  overflow-y: auto;
  transition: all 200ms;
  display: grid;
  grid-template-columns: 110px calc(100% - 110px);

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0 0.5rem;
  }

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px var(--brand-color);
  }

  &_poster {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    border-radius: 6px 0px 0px 6px;
    display: block;

    &.loaded {
      opacity: 1;
    }

    &_wrapper {
      max-width: 100px;
      height: 100%;
      border-radius: 6px 0px 0px 6px;
      position: relative;
      overflow: hidden;
    }
  }

  &_roles {
    margin-left: 1rem;
    font-size: 0.825rem;
    list-style-type: "\2726";
    color: var(--secondary-text-color);
  }
}
