.compare-titles-page {
  height: 100vh;
  width: 100%;
  position: relative;
  background: radial-gradient(
    circle,
    #2c1a0027,
    transparent,
    transparent,
    transparent,
    transparent
  );
  background-position: 75%;

  &_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 0.5rem;
    margin-bottom: 2rem;
    transition: all 200ms ease;
  }

  &_action {
    transition: all 150ms ease-in-out;
    margin-top: 0.5rem;
    border: 1px solid var(--brand-color);
    background: var(--secondary-color);
    padding: 0.5rem 1rem;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover {
      box-shadow: 0 0 10px var(--brand-color);
      color: var(--text-color);
    }
  }

  &_powered-by {
    position: fixed;
    color: var(--text-color);
    font-size: 0.9rem;
    bottom: 1rem;
    right: 1rem;
  }
}

.top-blank {
  top: 28dvh;
}

.top-results {
  top: 2dvh;
}
